<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
<!-- Introduction Section -->
<h1>About Me</h1>
<p>My name is Declan McCarthy. I am currently a senior at the <strong>University of Maryland</strong> studying <em>Finance</em> and <em>Information Systems</em>.
    I am very interested in capital markets and building upon my skills with technology to build systems that automate daily operations.
</p>
<p>Outside of school, I enjoy running and have signed up for a <strong>marathon </strong> in late <em>October</em> of this year.
    On top of that I enjoy traveling on surf trips with my family.
</p>
<!-- Interests and Goals -->
<h2>My Interests</h2>
<ol>
    <li>Golfing</li>
    <li>Surfing</li>
    <li>Capital Markets</li>
    <li>Marathon Training</li>
</ol>
<h2>My Goals</h2>
<ul>
    <li>Finding a job for post-grad in NYC.</li>
    <li>Completing my marathon in 4.5 hours.</li>
    <li>Travel to a new country.</li>
    <li>Continue to build upon my coding skills.</li>
</ul>
<!-- Table showing courses I have taken and when -->
<h2>Courses I Have Taken</h2>

<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Fall 2026</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Spring 2026</td>
    </tr>
    <tr>
        <td>BMGT110</td>
        <td>Fall 2023</td>
    </tr>
</table>
<h2>Links</h2>
<p>
   A link to <a href="/hello">go to my Hello page.</a>
</p>

<p>
    A link to go to <a href="https://www.espn.com/">ESPN.</a>
</p>

<p>
    A link to go to <a href="https://www.wsj.com/" target="_blank">Wall Street Journal.</a>
</p>

<p> Below is the Robert H. Smith School of Business Logo:</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267"
         height="72"
         alt="Robert H Smith School of Business Logo">


</body>
</html>